{% extends "base.html" %}

{% block body_contents %}



<form method="post" action="login">
	<div class="container">
		<label><b>Username</b></label>
		<p>
		<input type="text" name="username" placeholder="Username" required class="logintext"> 
		<p>
		{{message}}
		<p>
		<label><b>Password</b></label>
		<p>
		<input type="password" name="password" placeholder="Password" required class="logintext">
		<p>
	    <input type="submit" name="action" value="Login" class="login_button">
		&nbsp;
		<input type="submit" name="action" value="Sign Up" class="login_button" formnovalidate>
		&nbsp;
		<input type="submit" name="action" value="Forgot" class="login_button" formnovalidate>
		
	</div>
</form>






{% endblock %}

